<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
	============================================= -->
  <link
    href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/swiper.css" type="text/css" />
  <link rel="stylesheet" href="/css/dark.css" type="text/css" />

  <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="/css/custom.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Store Demo Specific Stylesheet -->
  <link rel="stylesheet" href="/css/colors.php?color=222222" type="text/css" />
  <!-- Store Theme Color -->
  <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
  <!-- Store Theme Font -->
  <link rel="stylesheet" href="/css/store.css" type="text/css" />
  <!-- Store Theme Custom CSS -->
  <!-- / -->

  <!-- Document Title
	============================================= -->
  <title>Store | Canvas</title>
</head>
