<div class="col-lg-4 col-md-6 mb-4">
  <div class="product">
    <div class="product-image position-relative">
      <div
        class="fslider"
        data-pagi="false"
        data-speed="400"
        data-pause="200000"
      >
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide">
              <a href="#"
                ><img src="/images/product/5-1.jpg" alt="Morning Dew"
              /></a>
            </div>
            <div class="slide">
              <a href="#"
                ><img src="/images/product/5-2.jpg" alt="Morning Dew"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="cart-btn button button-white button-light"
        ><i class="icon-line-plus"></i>Add to Cart</a
      >
    </div>
    <div class="product-desc">
      <div class="product-title">
        <h3><a href="#">Women Sports Pant</a></h3>
        <span><a href="#">Trousers</a></span>
      </div>
      <div class="product-price"><ins>$21.49</ins></div>
    </div>
  </div>
</div>
