<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/admin/header")%>
  <body>
    <%- include("../../partials/admin/sidebar")%>
    <div class="main-content">
      <div class="header">
        <h1>Order</h1>
        <div class="search">
          <input type="text" name="search" id="search" placeholder="Search" />
          <label for="search"><i class="fa fa-search"></i></label>
        </div>
      </div>
    </div>
  </body>
</html>
